ion-tab-bar {
    background-color: #E8E8E8;
    // background-color: #036E40;
}

ion-tab-button {
    background-color: #E8E8E8;   
    // background-color: #036E40;   
}

ion-icon {
    // background-color: #FAD501;
    color: #036E40;
}

ion-label {
    color: #036E40;
}